<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"> 
	<link th:href="@{/css/main.css}"   rel="stylesheet">
	<title>Evenement Form</title>
</head>

<body>
	
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	
	<div class="page">
	
	<h1>Evenement aanmaken</h1>
	<form class="form" th:action="@{/events}" th:object="${evenement}" method="post">

		<label for="naam">Naam*</label>
		<input type="text" id="naam" name="naam" th:field="*{naam}">
		<span th:if="${#fields.hasErrors('naam')}" th:errorclass="error" th:errors="*{naam}"></span>


		<label for="beschrijving">Beschrijving</label>
		<textarea id="beschrijving" name="beschrijving" th:field="*{beschrijving}"></textarea>
		<span th:if="${#fields.hasErrors('beschrijving')}" th:errorclass="error" th:errors="*{beschrijving}"></span>


		<label for="sprekersSelect">Spreker(s)*</label>
		   <select id="sprekersSelect" multiple size="3" class="spreker-multiselect" onchange="updateSprekersHidden()">
		     <option>Spreker optie1</option>  
			 <option>Spreker optie2</option>  
			 <option>Spreker optie3</option>  
			 <option>Spreker optie4</option>  
			 <option>Spreker optie5</option>  
			<!--<option th:each="spreker : ${sprekersLijst}"
		               th:value="${spreker}"
		               th:text="${spreker}">
		       </option>-->
		 	</select>
			<!--Hier wil ik de optie om een eigen spreker toe te voegen, een spreker heeft als velden voornaam, naam en email, 
		na toeveoging moet je die dan ook kunnen verwijderen en als je een 3 toegevoegt kun je niet meer toevoegen
		want max 3 sprekers je zou wel bevoorbeelds twee bestaande sprekers uit een selection moeten kunnne selecteren en één aanmaken-->
		<span th:if="${#fields.hasErrors('sprekers')}" th:errorclass="error" th:errors="*{sprekers}"></span>
		
		<label for="lokaal">Lokaal*</label>
		<select id="lokaal" name="lokaal" th:field="*{lokaal}">
			<option value="">-- Kies een bestaand lokaal --</option>
			<option value="A101">A101</option>
			<option value="B202">B202</option>
			<option value="C303">C303</option>
		</select>
		<!--Hier wil ik de optie om een eigen lokaal toe te voegen, een lokaal heeft als velden naam en capaciteit, 
		na toeveoging moet je die dan ook kunnen verwijderen en als je een hebt toegevoegt kun je niet meer selecteren
	   want max 1 lokaal-->
		<span th:if="${#fields.hasErrors('lokaal')}" th:errorclass="error" th:errors="*{lokaal}"></span>

		<label for="date">Datum*</label>
		<input type="date" id="datetime" name="datum" th:field="*{datum}">
		<span th:if="${#fields.hasErrors('datum')}" th:errorclass="error" th:errors="*{datum}"></span>
		
		<label for="begintijdstip">Begintijdstip*</label>
		<input type="time" id="datetime" name="begintijdstip" th:field="*{begintijdstip}">
		<span th:if="${#fields.hasErrors('begintijdstip')}" th:errorclass="error" th:errors="*{begintijdstip}"></span>

		<label for="eindtijdstip">Eindtijdstip*</label>
		<input type="time" id="datetime" name="eindtijdstip" th:field="*{eindtijdstip}">
		<span th:if="${#fields.hasErrors('eindtijdstip')}" th:errorclass="error" th:errors="*{eindtijdstip}"></span>

		
		<label for="beamercode">Beamercode (4 cijfers)</label>
		<input type="text" id="beamercode" name="beamercode" th:field="*{beamercode}">
		<span th:if="${#fields.hasErrors('beamercode')}" th:errorclass="error" th:errors="*{beamercode}"></span>

		<label for="beamercheck">Beamercheck (rest van deling door 97)</label>
		<input type="text" id="beamercheck" name="beamercheck" th:field="*{beamercheck}">
		<span th:if="${#fields.hasErrors('beamercheck')}" th:errorclass="error" th:errors="*{beamercheck}"></span>

		<label for="prijs">Prijs (in euro, 2 cijfers na komma)</label>
		<input type="number" id="prijs" name="prijs" step="0.01" 
		th:field="*{prijs}" placeholder="bv. 12.50">
		<span th:if="${#fields.hasErrors('prijs')}" th:errorclass="error" th:errors="*{prijs}"></span>

		<br><br>
		<button type="submit">Evenement aanmaken</button>
	</form>
	
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>