<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<title>Event Form</title>
</head>

<body>

	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="sidebar-eventform">
		<div class="page">

			<h1 th:text="#{eventsform.title}">Create event</h1>
			<form class="form" th:action="@{/events}" th:object="${evenement}" method="post">

				<label for="naam"><p  th:text="#{eventsform.form.name}"  style="display: inline;">Name </p><p id="star">*</p></label>
				<input type="text" id="naam" th:field="*{naam}">
				<span th:if="${#fields.hasErrors('naam')}" th:errorclass="error" th:errors="*{naam}"></span>


				<label for="beschrijving"><p th:text="#{eventsform.form.description}" style="display: inline;">Description </p></label>
				<textarea id="beschrijving" th:field="*{beschrijving}"></textarea>
				<span th:if="${#fields.hasErrors('beschrijving')}" th:errorclass="error"
					th:errors="*{beschrijving}"></span>

				<label for="date"><p th:text="#{eventsform.form.date}" style="display: inline;">Date </p><p id="star">*</p></label>
				<input type="date" id="datetime" th:field="*{datum}">
				<span th:if="${#fields.hasErrors('datum')}" th:errorclass="error" th:errors="*{datum}"></span>

				<label for="begintijdstip"><p th:text="#{eventsform.form.startTime}" style="display: inline;">Start time </p><p id="star">*</p></label>
				<input type="time" id="datetime" th:field="*{begintijdstip}">
				<span th:if="${#fields.hasErrors('begintijdstip')}" th:errorclass="error"
					th:errors="*{begintijdstip}"></span>

				<label for="eindtijdstip"><p th:text="#{eventsform.form.endTime}" style="display: inline;">End time </p><p id="star">*</p></label>
				<input type="time" id="datetime" th:field="*{eindtijdstip}">
				<span th:if="${#fields.hasErrors('eindtijdstip')}" th:errorclass="error"
					th:errors="*{eindtijdstip}"></span>


				<label for="beamercode"><p th:text="#{eventsform.form.beamerCode}" style="display: inline;">Projector code (4 digits) </p><p id="star">*</p></label>
				<input type="text" id="beamercode" th:field="*{beamercode}">
				<span th:if="${#fields.hasErrors('beamercode')}" th:errorclass="error" th:errors="*{beamercode}"></span>

				<label for="beamercheck"><p th:text="#{eventsform.form.beamerCheck}" style="display: inline;">Projector check (remainder of division by 97) </p><p id="star">*</p></label>
				<input type="text" id="beamercheck" th:field="*{beamercheck}">
				<span th:if="${#fields.hasErrors('beamercheck')}" th:errorclass="error"
					th:errors="*{beamercheck}"></span>

				<label for="prijs"><p th:text="#{eventsform.form.price}" style="display: inline;">Price (in euro, 2 digits after commma) </p><p id="star">*</p></label>
				<input type="number" id="prijs" step="0.01" th:field="*{prijs}" placeholder="bv. 12.50">
				<span th:if="${#fields.hasErrors('prijs')}" th:errorclass="error" th:errors="*{prijs}"></span>

				<label for="sprekersSelect"><p  th:text="#{eventsform.form.speakers}" style="display: inline;">Speaker(s) </p><p id="star">*</p></label>
				<select id="sprekersSelect" multiple size="3" class="spreker-multiselect" 
				style="max-height: 85px;height: auto;min-height: 40px;">
					<!--<option style="padding-top: 5px;">Spreker optie1</option>
					<option style="padding-top: 5px;">Spreker optie2</option>
					<option style="padding-top: 5px;">Spreker optie3</option>
					<option style="padding-top: 5px;">Spreker optie4</option>
					<option style="padding-top: 5px;">Spreker optie5</option>-->
					<option th:each="spreker : ${sprekersLijst}"
		               th:value="${spreker}"
		               th:text="${spreker.naam}">
		            </option>
				</select>
				<span th:if="${#fields.hasErrors('sprekers')}" th:errorclass="error" th:errors="*{sprekers}"></span>

				<label for="lokaal"><p  th:text="#{eventsform.form.room}" style="display: inline;">Room </p><p id="star">*</p></label>
				<select id="lokaal" th:field="*{lokaal}">
					<!--<option value="">-- Kies een bestaand lokaal --</option>
					<option value="A101">A101</option>
					<option value="B202">B202</option>
					<option value="C303">C303</option>-->
					<option th:each="lokaal : ${lokaalLijst}"
							               th:value="${lokaal}"
							               th:text="${lokaal.naam}">
					</option>
				</select>
				<span th:if="${#fields.hasErrors('lokaal')}" th:errorclass="error" th:errors="*{lokaal}"></span>

				<br><br>
				<button th:text="#{eventsform.form.btn}" type="submit">Create event</button>
			</form>
		</div>

		<div class="add-buttons">
			<form th:action="@{/speakers/new}" method="get" class="sub-form">
				<button type="submit" title="Voeg een spreker toe" style="background:none; border:none;">
					<img src="/images/plus-icon.svg" alt="voeg toe"
						style="width: 30px; height: 30px; margin-right: -7px;">
				</button>
			</form><!-- th:text="#{menubar.link.newevent}" -->

			<form th:action="@{/rooms/new}" method="get" class="sub-form">
				<button type="submit" title="voeg een lokaal toe" style="background:none; border:none;">
					<img src="/images/plus-icon.svg" alt="voeg toe"
						style="width: 30px; height: 30px; margin-right: -7px;">
				</button>
			</form><!-- th:text="#{menubar.link.newevent}" -->
		</div>

	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>