<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<title>Event details</title>
</head>

<body>

	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="page evenement-view" style="margin: 30px;max-width: 750px;">

		<div sec:authorize="hasRole('USER')" class="role-btn role-heart-div">
		    <th:block th:with="isFav=${favorieten.contains(evenement)}">
				<p class="fav-limit-msg" th:if="${favLimitMsgKey}"
				   th:text="#{${favLimitMsgKey}}"></p>    
			
			<form th:if="${isFav}"
		              th:action="@{/events/{id}/unfavourite(id=${evenement.id})}"
		              method="post" class="fav-form">
		            <input type="hidden" th:name="${_csrf.parameterName}"
		                                 th:value="${_csrf.token}" />
		            <button type="submit" class="heart-btn filled"
		                    title="Verwijder uit favorieten"></button>
		        </form>

		        <form th:if="${!isFav}"
		              th:action="@{/events/{id}/favourite(id=${evenement.id})}"
		              method="post" class="fav-form">
		            <input type="hidden" th:name="${_csrf.parameterName}"
		                                 th:value="${_csrf.token}" />
		            <button type="submit" class="heart-btn"
		                    title="Voeg toe aan favorieten"></button>
		        </form>

				
		    </th:block>
		</div>


		<div style="margin-top: 0px;">
			<h2 th:text="#{eventsdetails.title}" style="display: inline;">Name of event: </h2>
			<p style="display: inline;margin-left: 10px;margin-right: 60px; font-size: 15.5pt;font-weight: 400;" 
			   th:text="${evenement.naam}"></p>
		</div>

		<div style="margin-top: 20px;">
			<h3 th:text="#{eventsdetails.description}" style="display: inline;">Description:</h3>
			<p style="display: inline;margin-left: 10px; margin-right: 60px" 
			   th:text="${evenement.beschrijving}">This event explains more about...</p>
		</div>

		<h3 th:text="#{eventsdetails.speakers}">Speaker(s):</h3>
		<ul>
			<li th:each="spreker : ${evenement.sprekers}" 
			    th:text="${spreker.naam + ' ' + spreker.voornaam + ' - email: ' + spreker.email}">
			</li>
		</ul>

		<div style="margin-top: 20px;">
			<h3 th:text="#{eventsdetails.room}" style="display: inline;">Room:</h3>
			<p style="display: inline;margin-left: 10px;" th:text="${evenement.lokaal.naam}"></p>
		</div>

		<div style="margin-top: 20px;">
					<h3 th:text="#{eventsdetails.room.capacity}" style="display: inline;">Capacity:</h3>
					<p style="display: inline;margin-left: 10px;" th:text="${evenement.lokaal.capaciteit}"></p>
	   </div>
		
		<div style="margin-top: 20px;">
			<h3 th:text="#{eventsdetails.date}" style="display: inline;">Date:</h3>
			<p style="display: inline;margin-left: 10px;" th:text="${#temporals.format(evenement.datum, 'dd/MM/yyyy')}"></p>
		</div>

		<div style="margin-top: 20px;margin-bottom: 15px;">
			<h3 th:text="#{eventsdetails.timeSlot}" style="display: inline;">Time slot:</h3>
			<p style="display: inline;margin-left: 10px;"
			   th:text="${#temporals.format(evenement.begintijdstip, 'HH:mm')} + ' - ' + ${#temporals.format(evenement.eindtijdstip, 'HH:mm')}">
			</p>
		</div>

		<div sec:authorize="hasRole('ADMIN')" class="role-btn">
		    <form th:action="@{/events/new}" method="get" class="sub-form">
		        <button id="change-event-btn"
		                th:text="#{eventsdetails.btn}"
		                style="margin-top: 20px;margin-left: 20px;">
		            Change event
		        </button>
		    </form>
		</div>

	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
