<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <title>Events List</title>
</head>

<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="page">
        <h1 th:text="#{eventslist.title}">Overview of events</h1>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th th:text="#{eventslist.table.colName}">Name</th>
                        <th th:text="#{eventslist.table.colSpeaker}">Speaker(s)</th>
                        <th th:text="#{eventslist.table.colRoom}">Room</th>
                        <th th:text="#{eventslist.table.colDate}">Date</th>
                        <th th:text="#{eventslist.table.colStart}">Start time</th>
                        <th th:text="#{eventslist.table.colEnd}">End time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="evenement : ${evenementen}">
                        <td th:text="${evenement.naam}">Event Name</td>
                        <td>
                            <ul>
                                <li th:each="spreker : ${evenement.sprekers}"
                                    th:text="${spreker.voornaam + ' ' + spreker.naam}">Spreker Naam</li>
                            </ul>
                        </td>
                        <td th:text="${evenement.lokaal.naam}">Room</td>
                        <td th:text="${evenement.datum}">2025-04-20</td>
                        <td th:text="${evenement.begintijdstip}">14:00</td>
                        <td th:text="${evenement.eindtijdstip}">16:00</td>
                        <td>
							<a th:href="@{/events/{id}(id=${evenement.id})}" class="bekijk-col">
							    <button id="bekijk-btn" th:text="#{eventslist.table.btnView}">view</button>
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
		
		<div sec:authorize="hasRole('ADMIN')" class="role-btn">
		    <form th:action="@{/events/new}" method="get" class="sub-form">
		        <button id="maak-event-btn" th:text="#{eventslist.button.create}">Create event</button>
		    </form>
		</div>

		<div sec:authorize="hasRole('USER')" class="role-btn">
				    <form th:action="@{/events/favourites}" method="get" class="sub-form">
				        <button id="maak-event-btn" th:text="#{eventslist.button.favourites}">View Favourites</button>
				    </form>
				</div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>