<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<title>Favoriete Evenementen Overzicht</title>
</head>

<body>

	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="page">

		<h1 th:text="#{favourites.title}">Favourite Events</h1>

		<div class="table-container favorieten-table">
			<table>
				<thead>
					<tr>
						<th th:text="#{eventslist.table.colName}">Name</th>
						<th th:text="#{eventslist.table.colSpeaker}">Speaker(s)</th>
						<th th:text="#{eventslist.table.colRoom}">Room</th>
						<th th:text="#{eventslist.table.colDate}">Date</th>
						<th th:text="#{eventslist.table.colStart}">Start time</th>
						<th th:text="#{eventslist.table.colEnd}">End time</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="ev : ${favorieten}">
				    <td th:text="${ev.naam}">naam</td>
				    <td>
				        <ul>
				            <li th:each="sp : ${ev.sprekers}"
				                th:text="${sp.voornaam + ' ' + sp.naam}"></li>
				        </ul>
				    </td>
				    <td th:text="${ev.lokaal.naam}">A101</td>
				    <td th:text="${#temporals.format(ev.datum,'dd/MM/yyyy')}">20-04-2025</td>
				    <td th:text="${#temporals.format(ev.begintijdstip,'HH:mm')}">14:00</td>
				    <td th:text="${#temporals.format(ev.eindtijdstip,'HH:mm')}">16:00</td>
				    <td>
				        <form th:action="@{/events/{id}/unfavourite(id=${ev.id})}"
				              method="post" style="display:inline">
				            <button type="submit" title="Verwijder uit favorieten"
				                    style="background:none;border:none;">
				                <img src="/images/trash-icon.svg" alt="Verwijder"
				                     style="width:30px;height:30px;margin-right:-7px;">
				            </button>
				        </form>
				    </td>
				</tr>
				</tbody>
			</table>
		</div>
		<form th:action="@{/events/favourites/delete-all}" method="post"
		      class="btn-delete-favourites-form">
			  <input type="hidden"
			         th:name="${_csrf.parameterName}"
			         th:value="${_csrf.token}" />

		    <button id="verwijder-alle-favorieten-btn"
		            th:text="#{favourites.button.deleteAll}">
		        Delete all
		    </button>
		</form>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>