<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<title>Login</title>
</head>

<body>
	
	<div th:replace="~{fragments/navbar :: navbar}"></div>
		
	<div class="page">

	<h1>Login</h1>

	<div>
	    <form class="form login-form">
	      <input type="text" name="email" placeholder="Email" required>
	      <input type="password" name="wachtwoord" placeholder="Wachtwoord" required>
	      <button type="submit" id="login-btn">Inloggen</button>
	    </form>
	  </div>
	  <form th:action="@{/registration}" method="get" id="registreer-form">
	  	<button id="registreer-btn-login">Registeren</button>
	  </form>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>

  </body>

</html>