<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<title>Login</title>
</head>

<body>
	
	<div th:replace="~{fragments/navbar :: navbar}"></div>
		
	<div class="page">

	<h1 th:text="#{login.title}">Login</h1>

	<div>
	    <form class="form login-form">
	      <input type="text" name="email" th:placeholder="#{registration.form.email}">
	      <input type="password" name="wachtwoord" th:placeholder="#{registration.form.password}">
	      <button type="submit" id="login-btn" th:text="#{login.button.login}">Login</button>
	    </form>
	  </div>
	  <form th:action="@{/registration}" method="get" id="registreer-form">
	  	<button id="registreer-btn-login" th:text="#{login.button.register}">Register</button>
	  </form>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>

  </body>

</html>