<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/main.css}" rel="stylesheet">
	<title>Login</title>
</head>

<body class="login">

	<h1>Login</h1>

	<div>
	    <form class="form login-form">
	      <input type="text" name="email" placeholder="Email" required>
	      <input type="password" name="wachtwoord" placeholder="Wachtwoord" required>
	      <button type="submit" id="login-btn">Inloggen</button>
	    </form>
	  </div>
	  <button id="registreer-btn-login">Registeren</button>
</body>

</html>