<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<title>Spreker Form</title>
</head>

<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
		
	<div class="page">
		
	<form th:action="${referer}" method="get" style="text-align: center;">
		<button type="submit" class="terug-knop"><span th:text="#{button.back}">Back</span></button>
	</form>
	
	<h1 th:text="#{speakers.title}">Add a speaker</h1>
	<div th:if="${msg}" class="msg-completion" th:text="${msg}"></div>

	<form class="form"
		      th:action="${spreker.id} != null ? @{/speakers/edit/{id}(id=${lokaal.id})} : @{/speakers}"
		      th:object="${spreker}"
		      method="post">		
		<input type="hidden" th:field="*{id}"/>
		
		<label th:text="#{speakers.form.firstName}" for="voornaam"><p style="display: inline;">First name </p><p id="star">*</p></label>
		<input type="text" id="voornaam" th:field="*{voornaam}">
		<span th:if="${#fields.hasErrors('voornaam')}" th:errorclass="error" th:errors="*{voornaam}"></span>

		<label th:text="#{speakers.form.name}" for="naam"><p style="display: inline;">Name </p><p id="star">*</p></label>
		<input type="text" id="naam" th:field="*{naam}">
		<span th:if="${#fields.hasErrors('naam')}" th:errorclass="error" th:errors="*{naam}"></span>
		
		<label th:text="#{speakers.form.email}" for="email"><p style="display: inline;">Email </p><p id="star">*</p></label>
		<input type="text" id="email" th:field="*{email}">
		<span th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></span>
				
		<button id="add-spreker" th:text="${spreker.id} != null ? #{speakers.form.btn.edit} : #{speakers.form.btn.add}" type="submit">Add</button>
	</form>
	
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>