<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<title>Navbar</title>
</head>

<body>
	<footer class="site-footer" th:fragment="footer">
	    <div class="footer-content">
	        <p>
	            <a th:text="#{footer.link.events}" th:href="@{/events}">Events</a>

	            <span sec:authorize="hasRole('USER')">
	                | <a th:text="#{footer.link.favourites}" th:href="@{/events/favourites}">Favourites</a>
	            </span>

	            <span sec:authorize="hasRole('ADMIN')">
	                | <a th:text="#{footer.link.newevent}" th:href="@{/events/new}">New event</a>
	            </span>
	        </p>

	        <p id="conference-date" th:text="#{footer.conference.info}">Conference date: 23/06/2025 - 15/07/2025</p>

	        <div style="margin-top: 40px;margin-bottom: 10px;">
	            <a href="?lang=nl">
	                <img src="/images/flags/nl.svg" alt="Nederlands" width="46" height="24"> NL
	            </a>
	            <a href="?lang=en">
	                <img src="/images/flags/gb.svg" alt="English" width="46" height="24"> GB
	            </a>
	        </div>
	    </div>
	</footer>

</body>

</html>