<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<title>Navbar</title>
</head>

<body>
	<div th:fragment="navbar">
		<nav class="navbar">
			<ul>
				<div>
				<li><a th:text="#{menubar.link.events}" th:href="@{/events}">Events</a></li>
				<li><a th:text="#{menubar.link.newevent}" th:href="@{/events/new}">New event</a></li>
				</div>	
				<li id="logout"><a th:text="#{menubar.link.login}" th:href="@{/login}">Login</a></li>
			</ul>
		</nav>
	</div>
</body>

</html>