<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
    <title>Page not found</title>
</head>
<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	
	<div class="page error-page">
    <h1 th:text="#{error.title.500}">500 - Internal error</h1>
	<p th:text="#{error.text.all}">You cannot access the requested page. Please check the URL or go back to </p>
	<a style="text-align: center;" th:href="@{/events}" th:text="#{error.text.home}">the homepage</a>
	</div>	
	<div th:replace="~{fragments/footer :: footer}"></div>
	</body>
</html>
